scripts/casaboni-sdr-agent-workflow.json
{
  "name": "Casaboni - SDR Agent v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "casaboni-sdr-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "casaboni-sdr-webhook",
      "name": "Webhook SDR Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json || {};\r\nconst message = String(body.message || body.question || '').trim();\r\nconst history = Array.isArray(body.history) ? body.history : [];\r\nconst customerContext = String(body.customerContext || '').trim();\r\nconst sessionId = String(body.sessionId || '').trim();\r\nconst model = String(body.geminiModel || 'gemini-2.5-flash').trim();\r\nconst geminiApiKey = String(body.geminiApiKey || '').trim();\r\nconst ragWebhookUrl = String(body.ragWebhookUrl || '').trim();\r\nconst driveFolderId = String(body.driveFolderId || '').trim();\r\nconst firebase = body.firebase || {};\r\n\r\nfunction normalizeText(text) {\r\n  return String(text || '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\r\n}\r\nfunction toNameCase(value) {\r\n  return String(value || '').toLowerCase().split(/\\s+/).filter(Boolean).map(p => p.charAt(0).toUpperCase() + p.slice(1)).join(' ');\r\n}\r\nfunction extractPhone(text) {\r\n  const match = String(text || '').match(/(\\+?\\d[\\d\\s().-]{8,}\\d)/);\r\n  if (!match) return '';\r\n  const digits = match[1].replace(/\\D/g, '');\r\n  return digits.length >= 10 ? digits.slice(0, 13) : '';\r\n}\r\nfunction extractEmail(text) {\r\n  const match = String(text || '').match(/([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-z]{2,})/i);\r\n  return match?.[1] || '';\r\n}\r\nfunction extractName(text) {\n  const compact = String(text || '').replace(/\\s+/g, ' ').trim();\n  const normalized = normalizeText(compact);\n  const direct = compact.match(/(?:meu nome|nome)\\s*(?:é|e|eh|\\?|:|-)?\\s*([A-Za-zÀ-ÿ' ]{3,80})/i);\n  if (direct?.[1]) {\n    const cleaned = direct[1]\n      .split(/\\b(?:e meu|whatsapp|telefone|celular|email|cidade|data|horario|às|as|meu|zap)\\b/i)[0]\n      .replace(/[,.!?]+$/g, '')\n      .trim();\n    if (cleaned.length >= 3) return toNameCase(cleaned);\n  }\n  const patterns = [\n    /meu nome(?:\\s+e|\\s+eh|\\s+é)?\\s*[:\\-]?\\s*([\\p{L}'\\s]{3,80})/iu,\n    /\\bnome\\s*[:\\-]\\s*([\\p{L}'\\s]{3,80})/iu,\n    /sou\\s+(?:o|a)?\\s*([\\p{L}'\\s]{3,50})/iu,\n  ];\r\n  for (const pattern of patterns) {\r\n    const match = compact.match(pattern);\r\n    if (!match) continue;\r\n    const cleaned = match[1].split(/\\b(?:whatsapp|telefone|celular|email|cidade|data|horario|às|as|e meu|meu|zap)\\b/i)[0].replace(/[,.!?]+$/g, '').trim();\r\n    if (cleaned.length >= 3) return toNameCase(cleaned);\n  }\n\n  const fallback = normalized.match(/(?:meu nome|nome)\\s*(?:e|eh|\\?)?\\s*([a-z\\s]{3,80})/i);\n  if (fallback?.[1]) {\n    const cleaned = fallback[1]\n      .split(/\\b(?:whatsapp|telefone|celular|email|cidade|data|horario|as|e meu|meu|zap)\\b/i)[0]\n      .replace(/[,.!?]+$/g, '')\n      .trim();\n    if (cleaned.length >= 3) return toNameCase(cleaned);\n  }\n\n  return '';\n}\nfunction extractArea(text) {\r\n  const normalized = normalizeText(text).trim();\r\n  const directNumber = normalized.match(/^(\\d{1,4})([.,]\\d{1,2})?$/);\r\n  if (directNumber) return directNumber[1] + 'm²';\r\n  const match = normalized.match(/\\b(\\d{1,4})([.,]\\d{1,2})?\\s*(m2|m²|m|metros?|metro)\\b/i);\r\n  return match ? match[1] + 'm²' : '';\r\n}\r\nfunction detectCategory(text) {\r\n  const n = normalizeText(text);\r\n  if (n.includes('piso') || n.includes('vinil')) return 'pisos';\r\n  if (n.includes('rodape')) return 'rodapes';\r\n  if (n.includes('telha') || n.includes('shingle')) return 'telhas';\r\n  if (n.includes('ripado') || n.includes('wpc')) return 'ripados';\r\n  return '';\r\n}\r\nfunction extractEnvironment(text) {\r\n  const n = normalizeText(text);\r\n  if (n.includes('sala')) return 'Sala';\r\n  if (n.includes('quarto')) return 'Quarto';\r\n  if (n.includes('cozinha')) return 'Cozinha';\r\n  if (n.includes('escritorio')) return 'Escritório';\r\n  if (n.includes('banheiro')) return 'Banheiro';\r\n  if (n.includes('area gourmet')) return 'Área Gourmet';\r\n  if (n.includes('comercial')) return 'Comercial';\r\n  return '';\r\n}\r\nfunction extractStyle(text) {\r\n  const n = normalizeText(text);\r\n  if (/(amadeirad|madeira|aconcheg)/.test(n)) return 'amadeirado';\r\n  if (/(moderno|minimal|clean|contemporane)/.test(n)) return 'moderno';\r\n  if (/(claro|bege|off white|off-white|branco)/.test(n)) return 'claro';\r\n  if (/(escuro|grafite|cinza|preto)/.test(n)) return 'escuro';\r\n  if (/(rustic|rustico|natural)/.test(n)) return 'rústico';\r\n  return '';\r\n}\r\nfunction extractProductModel(text) {\r\n  const n = normalizeText(text);\r\n  const models = [\r\n    ['veneza', 'Veneza'], ['verona', 'Verona'], ['florenca', 'Florença'],\r\n    ['londres', 'Londres'], ['rio de janeiro', 'Rio de Janeiro'], ['washington', 'Washington']\r\n  ];\r\n  return (models.find(([key]) => n.includes(key)) || [null, ''])[1];\r\n}\r\nfunction extractCity(text) {\r\n  const compact = String(text || '').replace(/\\s+/g, ' ').trim();\r\n  const patterns = [/\\b(?:sou|falo|moro|estou)\\s+(?:de|em)\\s+([\\p{L}\\s.'-]{3,60})/iu, /\\bcidade\\s*[:\\-]?\\s*([\\p{L}\\s.'-]{3,60})/iu];\r\n  for (const pattern of patterns) {\r\n    const match = compact.match(pattern);\r\n    if (!match) continue;\r\n    const city = match[1].split(/\\b(?:meu|minha|whatsapp|telefone|celular|email|nome|e\\s+quero|quero|para|sobre)\\b/i)[0].replace(/[,.!?]+$/g, '').trim();\r\n    if (city.length >= 3) return toNameCase(city);\r\n  }\r\n  return '';\r\n}\r\nfunction latest(texts, extractor) {\r\n  return [...texts].reverse().map(extractor).find(Boolean) || '';\r\n}\r\nfunction buildLeadProfile(history, message, sessionId) {\r\n  const userTexts = [...history.filter(m => m.role === 'user').slice(-12).map(m => m.text), message];\r\n  const all = userTexts.join(' ');\r\n  return {\r\n    name: latest(userTexts, extractName), phone: latest(userTexts, extractPhone), email: latest(userTexts, extractEmail), city: latest(userTexts, extractCity),\r\n    category: detectCategory(all), environment: latest(userTexts, extractEnvironment), area: latest(userTexts, extractArea), style: latest(userTexts, extractStyle),\r\n    product: latest(userTexts, extractProductModel), sessionId,\r\n  };\r\n}\r\nfunction parseCatalogEntries(lines) {\r\n  return (Array.isArray(lines) ? lines : []).map(line => {\r\n    const match = String(line).match(/^\\s*\\d+\\.\\s*(.*?)\\s*-\\s*(https?:\\/\\/\\S+)\\s*$/i);\r\n    return match ? { label: match[1].trim(), url: match[2].trim() } : null;\r\n  }).filter(Boolean);\r\n}\r\nfunction isMediaIntent(text) {\r\n  const n = normalizeText(text);\r\n  return /foto|imagem|catalogo|portfolio|portifolio|pdf|ver|mostrar|folhear|opcoes|inspira/.test(n);\r\n}\r\nfunction selectCatalog(catalog, message, profile) {\r\n  const n = normalizeText([message, profile.category, profile.product, profile.style].filter(Boolean).join(' '));\r\n  const models = ['veneza', 'verona', 'florenca', 'londres', 'rio de janeiro', 'washington'];\r\n  let selected = [];\r\n  const wantedModel = models.find(m => n.includes(m));\r\n  if (wantedModel) selected = catalog.filter(c => normalizeText(c.label).includes(wantedModel));\r\n  if (!selected.length && profile.category === 'pisos') selected = catalog.filter(c => models.some(m => normalizeText(c.label).includes(m)));\r\n  if (!selected.length && profile.category === 'rodapes') selected = catalog.filter(c => normalizeText(c.label).includes('rodape'));\r\n  if (!selected.length && profile.category === 'telhas') selected = catalog.filter(c => /telha|shingle|portfolio/.test(normalizeText(c.label)));\r\n  if (!selected.length && profile.category === 'ripados') selected = catalog.filter(c => /ripado|wpc|portfolio/.test(normalizeText(c.label)));\r\n  if (!selected.length && isMediaIntent(message)) selected = catalog.filter(c => /veneza|verona|florenca|londres|rio de janeiro|washington|rodape|portfolio/.test(normalizeText(c.label)));\r\n  return selected.filter((item, idx) => selected.findIndex(x => x.url === item.url) === idx).slice(0, 4);\r\n}\r\nfunction buildMedia(entries) {\r\n  return entries.map(entry => {\r\n    const id = entry.url.match(/\\/file\\/d\\/([a-zA-Z0-9_-]+)\\//i)?.[1] || '';\r\n    if (!id) return null;\r\n    return { id, label: entry.label, sourceUrl: entry.url, thumbnailUrl: '/api/drive-image?id=' + id };\r\n  }).filter(Boolean);\r\n}\r\nfunction cleanReply(text) {\r\n  return String(text || '').replace(/https?:\\/\\/drive\\.google\\.com\\/file\\/d\\/[a-zA-Z0-9_-]+\\/view[^\\s)]*/gi, '').replace(/\\n{3,}/g, '\\n\\n').trim().slice(0, 900);\r\n}\r\nfunction asks(text) {\r\n  const n = normalizeText(text);\r\n  return /\\?\\s*$/.test(String(text).trim()) || /\\b(qual|quais|quer|gostaria|prefere|me conta|me diga|posso|vamos)\\b/.test(n);\r\n}\r\nfunction followUp(reply, profile, mediaCount) {\r\n  if (!reply || asks(reply)) return '';\r\n  if (mediaCount > 0) return 'Alguma dessas opções combina com o que você imaginou? Se quiser, eu também posso separar por ambiente ou montar um orçamento inicial.';\r\n  if (profile.name && profile.phone) return 'Quer que eu encaminhe essas informações para a equipe te chamar no WhatsApp, ou prefere ver mais algumas opções antes?';\r\n  if (profile.category || profile.environment) return 'Quer dar uma olhada em fotos do portfólio ou prefere que eu te ajude a comparar estilos primeiro?';\r\n  return 'Quer me contar qual ambiente você pretende transformar primeiro?';\r\n}\r\nasync function fetchRag(query) {\r\n  if (!ragWebhookUrl) return { driveCatalog: [], ragPromptContext: '', systemHints: [] };\r\n  try {\r\n    return await this.helpers.httpRequest({ method: 'POST', url: ragWebhookUrl, headers: { 'Content-Type': 'application/json' }, body: { message: query, question: query, driveFolderId, customerContext }, json: true });\r\n  } catch (error) {\r\n    return { driveCatalog: [], ragPromptContext: '', systemHints: [], ragError: String(error?.message || error) };\r\n  }\r\n}\r\nasync function saveLeadToFirestore(profile) {\r\n  if (!profile.name || !profile.phone || !firebase?.apiKey || !firebase?.projectId || !firebase?.databaseId) return false;\r\n  try {\r\n    const fields = Object.fromEntries(Object.entries({\r\n      name: profile.name || '', phone: profile.phone || '', email: profile.email || '', city: profile.city || '', category: profile.category || '', environment: profile.environment || '', area: profile.area || '', style: profile.style || '', product: profile.product || '', sessionId: profile.sessionId || '', status: 'Novo', source: 'n8n-sdr-agent', date: new Date().toISOString().slice(0, 10),\r\n    }).map(([k, v]) => [k, { stringValue: String(v || '') }]));\r\n    const url = 'https://firestore.googleapis.com/v1/projects/' + firebase.projectId + '/databases/' + firebase.databaseId + '/documents/leads?key=' + encodeURIComponent(firebase.apiKey);\r\n    await this.helpers.httpRequest({ method: 'POST', url, headers: { 'Content-Type': 'application/json' }, body: { fields }, json: true });\r\n    return true;\r\n  } catch { return false; }\r\n}\r\n\r\nif (!message) return [{ json: { ok: false, reply: 'Mensagem vazia.', media: [], source: 'n8n-sdr-agent' } }];\r\nconst profile = buildLeadProfile(history, message, sessionId);\r\nconst rag = await fetchRag(message);\r\nconst catalog = parseCatalogEntries(rag.driveCatalog);\r\nconst selected = selectCatalog(catalog, message, profile);\r\nconst media = isMediaIntent(message) ? buildMedia(selected) : [];\r\nconst leadSaved = await saveLeadToFirestore(profile);\nconst thinkingBudget = model.includes('2.5-pro') ? 128 : (model.includes('2.5-flash') ? 0 : undefined);\n\r\nif (!geminiApiKey) {\r\n  const reply = 'Olá! Sou o Consultor Casaboni. Estou aqui para te atender e te ajudar a escolher o melhor acabamento para o seu ambiente. Qual espaço você quer transformar hoje?';\r\n  return [{ json: { ok: true, reply, followUp: followUp(reply, profile, media.length), media, leadSaved, leadProfile: profile, source: 'n8n-sdr-agent-no-key' } }];\r\n}\r\n\r\nconst conversation = history.slice(-10).map(m => (m.role === 'user' ? 'Cliente' : 'Consultor') + ': ' + m.text).concat('Cliente: ' + message).join('\\n');\r\nconst catalogText = selected.length ? selected.map((c, i) => (i + 1) + '. ' + c.label).join('\\n') : catalog.slice(0, 12).map((c, i) => (i + 1) + '. ' + c.label).join('\\n');\r\nconst systemPrompt = 'Você é o Consultor Casaboni, um SDR humano, consultivo e comercial de primeiro atendimento.\\n\\n' +\r\n'Objetivo: acolher, entender necessidade, educar, conduzir com leveza e converter o contato em próximo passo comercial sem parecer robótico.\\n\\n' +\r\n'Regras obrigatórias:\\n' +\r\n'- Responda sempre em pt-BR natural, cordial e premium.\\n' +\r\n'- Nunca faça várias perguntas ao mesmo tempo; faça no máximo 1 pergunta principal por resposta.\\n' +\r\n'- Antes de perguntar, valide o que o cliente disse.\\n' +\r\n'- Não force venda nem orçamento cedo demais.\\n' +\r\n'- Se o cliente estiver indeciso, normalize a dúvida e ofereça inspiração/portfólio.\\n' +\r\n'- Se o cliente pedir fotos, diga que separou algumas opções e NÃO escreva links do Drive no texto; o sistema renderiza as imagens separadamente.\\n' +\r\n'- Se não souber preço, explique que depende de metragem, linha e acabamento, e peça o dado mínimo para estimar.\\n' +\r\n'- Produtos Casaboni: pisos vinílicos clicados, rodapés de poliestireno, telhas shingle e ripados WPC.\\n' +\r\n'- Linhas de piso: Veneza, Verona, Florença, Londres, Rio de Janeiro e Washington.\\n' +\r\n'- Capture nome, WhatsApp, cidade, ambiente, metragem e estilo de forma sutil ao longo da conversa.\\n\\n' +\r\n'Contexto RAG/Drive:\\n' + String(rag.ragPromptContext || '').slice(0, 2500) + '\\n\\n' +\n'Arquivos relevantes disponíveis:\\n' + (catalogText || 'Nenhum arquivo específico encontrado nesta consulta.') + '\\n\\n' +\r\n'Perfil inferido até agora:\\n' + JSON.stringify(profile) + '\\n\\n' +\r\n'Retorne SOMENTE JSON válido com este formato: {\"reply\":\"resposta curta e natural\",\"followUp\":\"pergunta extra opcional para manter conversa viva ou vazio\"}';\r\n\r\ntry {\r\n  const data = await this.helpers.httpRequest({\r\n    method: 'POST', url: 'https://generativelanguage.googleapis.com/v1beta/models/' + encodeURIComponent(model) + ':generateContent?key=' + encodeURIComponent(geminiApiKey), headers: { 'Content-Type': 'application/json' }, json: true, body: {\r\n      systemInstruction: { parts: [{ text: systemPrompt }] },\r\n      contents: [{ role: 'user', parts: [{ text: conversation }] }],\r\n      generationConfig: {\n        temperature: 0.35,\n        maxOutputTokens: 4096,\n        responseMimeType: 'application/json',\n        ...(thinkingBudget !== undefined ? { thinkingConfig: { thinkingBudget } } : {})\n      }\n    }\r\n  });\r\n  const geminiResponse = typeof data === 'string' ? JSON.parse(data) : data;\n  const rawText = geminiResponse?.candidates?.[0]?.content?.parts?.map(p => p.text || '').join('') || '';\n  let parsed;\n  try { parsed = JSON.parse(rawText); } catch { parsed = { reply: rawText, followUp: '' }; }\n  const reply = cleanReply(parsed.reply || 'Posso te ajudar com pisos, rodapés, telhas e ripados. Qual ambiente você quer transformar?');\n  const extra = cleanReply(parsed.followUp || followUp(reply, profile, media.length));\n  const debug = body.debug ? {\n    receivedMessage: message,\n    messageCodes: Array.from(message.slice(0, 30)).map((char) => char.charCodeAt(0)),\n    rawText: rawText.slice(0, 600),\n    responseKeys: Object.keys(geminiResponse || {}),\n    promptFeedback: geminiResponse?.promptFeedback,\n    finishReason: geminiResponse?.candidates?.[0]?.finishReason || ''\n  } : undefined;\n  return [{ json: { ok: true, reply, followUp: extra, media, leadSaved, leadProfile: profile, rag: { filesFound: catalog.length, mediaSelected: media.length }, source: 'n8n-sdr-agent', ...(debug ? { debug } : {}) } }];\n} catch (error) {\r\n  const reply = media.length ? 'Separei algumas opções visuais para você ver com calma. Me diga qual delas combina mais com o ambiente que você imaginou.' : 'Estou aqui para te atender e te ajudar a escolher o produto ideal. Qual ambiente você quer transformar primeiro?';\r\n  return [{ json: { ok: true, reply, followUp: followUp(reply, profile, media.length), media, leadSaved, leadProfile: profile, error: String(error?.message || error), source: 'n8n-sdr-agent-fallback' } }];\r\n}\r\n\r\n"
      },
      "id": "casaboni-sdr-engine",
      "name": "Motor SDR n8n",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "casaboni-sdr-response",
      "name": "Responder Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Webhook SDR Chat": {
      "main": [
        [
          {
            "node": "Motor SDR n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor SDR n8n": {
      "main": [
        [
          {
            "node": "Responder Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  }
}